{% extends 'base.html' %}
{% load static %}
{% block content %}


<h2 class="text-center mb-4 fw-bold">Our Products</h2>

<div class="row g-4">

    {% for product in products %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

        <div class="card h-100 shadow-sm border-0">

            <img src="{{ product.image.url }}"
                 class="card-img-top"
                 alt="{{ product.name }}"
                 style="height:220px; object-fit:cover;">

            <div class="card-body text-center">
                <h6 class="fw-semibold">{{ product.name }}</h6>
                <p class="text-muted small mb-2">
                    ₹ {{ product.price }}
                </p>
                   <a href="{% url 'product_detail' product.id %}"
                     class="btn btn-dark btn-sm w-100 mb-2">
                       View
                    </a>

                   <a href="{% url 'add_to_cart' product.id %}"
                   class="btn btn-outline-secondary mt-2 btn-sm w-100">
                    Add to Cart
                </a>
            </div>

        </div>

    </div>
    {% empty %}
    <p class="text-center text-muted">No products available</p>
    {% endfor %}

</div>

{% endblock %}
